@font-face {
  font-family: "Pokemon-Solid";
  src: url("./fonts/Pokemon\ Solid.ttf");
}

* {
  margin: 0;
  padding: 0;
}

.main-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  background: rgb(165, 165, 165);
  justify-content: center;
  align-items: center;
}

.game-area {
  width: 75%;
  height: 75%;
  background: black;
}
.title-area {
  /* border: 1px solid white; */
  height: 70%;
  width: 70%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("./assets/nuke.png");
  background-repeat: no-repeat;
  background-position-x: center;
}
.title-text {
  color: yellow;
  letter-spacing: 4px;
  font-family: "Pokemon-Solid";
  font-size: 80px;
  text-shadow: 0.3vw 0.3vw 0 #7f807e;
}
.start-button {
  color: white;
  background: rgb(122, 185, 122);
  padding: 10px;
  border: 1px solid white;
  cursor: pointer;
  margin-top: 20px;
}
.select-button {
  color: white;
  background: rgb(122, 185, 122);
  padding: 10px;
  border: 1px solid white;
  cursor: pointer;
  margin-top: 8px;
}

.title-form {
  height: 50px;
  font-size: 20px;
  padding: 3px;
  opacity: 0.9;
  font-family: "Press Start 2P", cursive;
}

.cut-scene-box-top {
  border: 2px solid white;
  height: 40%;
  width: 80%;
  background: blue;
  margin: auto;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}
.cut-scene-box-top > p {
  color: white;
}

.starter-box {
  display: flex;
  background: #a1c950;
  height: 300px;
  width: 175px;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-left: 10px;
  border: 2px solid white;
  cursor: pointer;
}

.starter-box > img {
  width: 70%;
  height: auto;
}
.starter-name {
  font-size: 1.1rem;
  background: rgb(175, 175, 221);
  padding: 4px;
}

.starter-details {
  width: 90%;
  height: 70px;
  /* border: 1px solid black; */
  padding: 8px;
}
.starter-details > p {
  font-size: 0.75rem;
  margin-top: 2px;
}

.starter-div {
  display: flex;
  width: 100%;
  margin-top: 30px;
  justify-content: center;
}
.starter-box:hover {
  border: 2px solid yellow;
}

.continue-click {
  color: white;
}

#stats > div > p {
  font-size: 0.6rem;
}
#new-game {
  display: flex;
  flex-direction: column;
}
#find-game {
  display: flex;
  flex-direction: column;
}
