@font-face {
  font-family: "Pokemon-Solid";
  src: url("./fonts/Pokemon\ Solid.ttf");
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;

  font-family: "Press Start 2P", cursive;

  background: #a1c950;
}
 
#main {
  margin: 2vh 2vw;
  width: 96vw;
  height: 96vh;

  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

#left-side {
  width: 28%;
  height: 98%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

#title {
  width: 96%;
  height: 12%;

  border: solid #1c161b 0.5vw;
  border-radius: 0.5vw;

  font-family: "Pokemon-Solid";
  font-size: 1.2vw;
  letter-spacing: 0.2vw;

  text-shadow: 0.3vw 0.3vw 0 #363834;
  font-size: 1em;

  text-align: center;

  color: #dcff19;
  background: #1c161b;

  display: flex;
  justify-content: center;
  align-items: center;
}

#stats {
  width: 96%;
  height: 30%;

  background: #363834;

  border: solid #1c161b 0.5vw;
  border-radius: 0.5vw;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

#stats div {
  list-style: none;

  
  background: rgb(92, 221, 92);
  border: green 0.3em solid;
  border-radius: 0.4em;


  margin: 0;
  padding: 0;

  display: flex;
  justify-content: center;
  align-items: center;
}

#stats div p {
  font-size: 1em;
  padding: 2% 2%;
  width: 100%;
}


#notifications {
  overflow: scroll;
  padding: 2px 0;

  width: 96%;
  height: 30%;

  background: #363834;

  border: solid #1c161b 0.5vw;
  border-radius: 0.5vw;
}

#notifications li {
  list-style: none;
  font-size: 0.8vw;
  line-height: 1.4em;

  background: #fcffe0;

  padding: 1vh 1vw;
  margin: 1.4vh 1vw;

  border: solid #a1c950 0.4vw;
  border-radius: 0.4vw;
}

#confirm {
  width: 96%;
  height: 16%;

  color: #dcff19;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;

  background: #363834;

  border: solid #1c161b 0.5vw;
  border-radius: 0.5vw;

  box-shadow: 0.15vw 0.3vw 0 #dcff19;
}

#confirm:active {
  box-shadow: 0.1vw 0.1vh 0 #dcff19;
  transform: translateY(0.1vw);
  transition: 0.05s ease;
}

#confirm h1 {
  border-radius: 0.4em;

  margin: 0;
}

#timer {
  background: #1c161b;
  border: solid #dcff19 0.5vw;
  border-radius: 0.5vw;

  color: #1c161b;

  width: 30%;
  height: 40%;

  display: flex;
  justify-content: center;
  align-items: center;
}

#timer h2 {
  border-radius: 0.4em;

  margin: 0;

  color: #dcff19;
}

#right-side {
  width: 68%;
  height: 98%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

#nav-bar {
  width: 98%;
  height: 8%;

  border: solid #1c161b 0.5vw;
  border-radius: 0.5vw;
  background: #363834;

  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.nav-button {
  font-size: 0.9vw;
  font-family: inherit;

  padding: 1vh 0.5vw;

  color: #e9ff89;
  background: #1c161b;
  border: solid #e9ff89 0.3vw;
  border-radius: 0.6vw;
  box-shadow: 0.3vw 0.3vw 0 #1c161b;
}

.nav-button:active {
  box-shadow: 0.1vw 0.1vh 0 #1c161b;
  transform: translateY(0.1vw);
  transition: 0.05s ease;
}

.nav-button:focus {
  outline: none;
}

.nav-button:hover {
  color: #dcff19;
  border-color: #dcff19;
  transition: 0.2s ease;
}

.highlight-nav {
  font-size: 0.9vw;
  font-family: inherit;

  padding: 1.6vh 1vw;

  color: #dcff19;
  background: #1c161b;
  border: solid #dcff19 0.3vw;
  border-radius: 0.6vw;
}

.highlight-nav:focus {
  outline: none;
}

#game-view {
  width: 98%;
  height: 86%;

  border: solid #1c161b 0.5vw;
  border-radius: 0.5vw;
  background: #363834;

  display: flex;
  justify-content: center;
  align-items: center;
}

#pokemon-display {
  overflow: scroll;

  width: 100%;
  height: 100%;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.pokemon-card {
  height: 52vh;
  margin: 2vh 1vw;

  border: solid #1c161b 0.5vw;
  border-radius: 0.5vw;

  background: #a1c950;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.pokemon-info {
  display: flex;
  justify-content: space-between;
  align-content: center;

  width: 90%;
}

.pokemon-identity {
  width: 48%;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.pokemon-name {
  color: #1c161b;
  background: #fcffe0;

  border: #1c161b solid 0.4vw;
  border-radius: 0.4vw;

  font-size: 1vw;

  margin: 0;
  padding: 1vh 1vw;
}

.info-span {
  width: 90%;

  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.pokemon-level {
  font-size: 0.8vw;

  color: #dcff19;
  background: #1c161b;

  padding: 0.2vh 0.4vw;
  border: #1c161b solid 0.4vw;
  border-radius: 0.4vw;
}

.pokemon-sex {
  font-size: 0.8vw;

  color: #dcff19;
  background: #1c161b;

  padding: 0.2vh 0.4vw;
  border: #1c161b solid 0.4vw;
  border-radius: 0.4vw;
}

.pokemon-image {
  border: solid #1c161b 0.5vw;
  border-radius: 0.5vw;

  width: 96%;

  background: #fcffe0;
}

.pokemon-data {
  width: 48%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.bar-wrapper {
  background: #1c161b;
  width: 84%;

  padding: 0;
  margin: 0.3vh 0;

  font-size: 0.8vw;

  border: #1c161b solid 0.4vw;
  border-radius: 0.4vw;
}

.bar-label {
  padding: 0.3vh 0.4vw;
  margin: 0 0 0 0.4vw;
  color: #dcff19;

  left: 2vw;

  background: #1c161b;
  border: #1c161b solid 0.1vw;
  border-radius: 0.4vw;

  font-size: 0.6vw;
}

.bar-container {
  width: 100%;
  background: #6f7767;
}

.bar-display {
  padding: 0.2vw 0.2vh;
  background: #dcff19;
}

.stat-list {
  display: flex;
  flex-direction: column;
  font-size: 0.7vw;

  width: 80%;

  margin: 0.3vh 0;
  padding: 0.2vh 0.2vw;
  border: #1c161b solid 0.1vw;
  border-radius: 0.4vw;

  background: #1c161b;
}

.stat {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.stat-label {
  width: 70%;

  border: #1c161b solid 0.2vw;
  border-radius: 0.2vw;
  padding: 0.4vh 0.4vw;

  background: #fcffe0;
}

.stat-value {
  width: 26%;
  text-align: right;

  border: #1c161b solid 0.2vw;
  border-radius: 0.2vw;
  padding: 0.4vh 0.4vw;

  background: #fcffe0;
}

.pokemon-actions {
  background: #363834;
  border: solid #1c161b 0.5vw;
  border-radius: 0.5vw;

  width: 90%;
  padding: 0.5vh 0;

  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.pokemon-action-button {
  font-size: 0.6vw;
  font-family: inherit;

  padding: 1vh 0.5vw;

  color: #e9ff89;
  background: #1c161b;
  border: solid #e9ff89 0.3vw;
  border-radius: 0.6vw;
  box-shadow: 0.3vw 0.3vw 0 #1c161b;
}

.pokemon-action-button:active {
  box-shadow: 0.1vw 0.1vh 0 #1c161b;
  transform: translateY(0.1vw);
  transition: 0.05s ease;
}

.pokemon-action-button:focus {
  outline: none;
}

.pokemon-action-button:hover {
  color: #dcff19;
  border-color: #dcff19;
  transition: 0.2s ease;
}

.highlight-action {
  font-size: 0.7vw;
  font-family: inherit;

  padding: 1.2vh 1vw;

  color: #dcff19;
  background: #1c161b;
  border: solid #f15f1c 0.3vw;
  border-radius: 0.6vw;
}

.highlight-action:focus {
  outline: none;
}
